@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

/* CSS VARIABLES */
:root {
  --primary-color: #52489c;
  --secondary-color: #59c3c3;
  --accent-color: #f45b69;
  --text-dark: #333;
  --text-light: #ebebeb;
  --bg-light: #eeeeee;
  --primary-font: Arial, Helvetica, sans-serif;
  --secondary-font: "Mooli", sans-serif;
}

body {
  margin: 0;
  font-family: var(--primary-font);
  font-size: 1.1rem;
  background-color: var(--bg-light);
}

header,
main,
footer {
  max-width: 1000px;
  margin: 1rem auto;
  padding: 1rem;
}

header {
  background-color: var(--primary-color);
  color: var(--text-light);
  text-align: center;
}

h1 {
  font-family: var(--secondary-font);
  margin: 0.5rem 0;
}

.menu-btn {
  background: none;
  border: none;
  color: var(--text-light);
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

nav {
  display: none;
}

nav.show {
  display: block;
}

nav a {
  display: block;
  padding: 0.6rem 0;
  color: var(--text-light);
  text-decoration: underline; 
}

main {
  background-color: #ddd;
  color: var(--text-dark);
  text-align: center;
}

h2 {
  font-family: var(--secondary-font);
  margin-top: 0.5rem;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.gallery img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  display: block;
  margin: 0 auto;

  background: white;
  border: 6px solid white;
  border-radius: 12px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.45);
}

footer {
  background-color: var(--primary-color);
  color: var(--text-light);
  text-align: center;
  font-size: 0.9rem;
}


#modal {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

#modal img {
  display: block;
  width: 90%;
  max-height: 100%;
  margin: 20vh auto;
  object-fit: contain;
}

.close-viewer {
  position: absolute;
  top: 20vh;
  right: 5%;
  padding: 0.3rem 0.8rem;
  font-size: 1rem;
  cursor: pointer;
}

@media screen and (min-width: 700px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1000px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  .menu-btn {
    display: none;
  }

  nav {
    display: block;
  }

  nav a {
    display: inline-block;
    padding: 0.5rem 1rem;
    text-decoration: underline; 
  }
}
