body {
    font-family: "Roboto";
}

header, main, footer {
    max-width: 640px;
    margin: 1em auto;
    background-color: lightskyblue;
    border: 1px solid #ccc;
    padding: 1em;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;   
}

section {
    background-color: white;
    padding: 1em;
}

@media screen and (min-width: 500px) {
    main {
        grid-template-columns: 1fr 1fr;
    }   
}

header {
    background-color: ;
}