body {
  font-size: 20px;
  text-align: center;
  background-color: #ddd;
}

#content {
  max-width: 60%;
  margin: 40px auto;
  border: 1px solid black;
  padding: 40px;
}

h1, h2 {
  font-family: "Georgia", serif;
}

h1 {
 
  font-size: 2.2rem;
}

p {
  color: #0b64a0;
  text-align: center;
  font-size: 1.3rem;
}

hr {
  width: 70%;
  border: 2px solid #0b64a0;
  margin: 20px auto;
}

img {
  width: 350px;
  height: auto;
  margin: 30px 0;
}

#topics {
  width: 50%;
  margin: 0 auto;
}

#topics h2 {
  font-size: 1.4rem;
  margin-top: 20px;
  font-weight: bold;
}

#topics .list {
  text-align: left;
  font-size: 1.1rem;
}


ul {
  list-style-type: none;
  padding: 0;
}
